@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">

	<form asp-action="ForgotPasswordSecurity" method="post" class="card p-4 shadow">
		<h4 class="card-title">Security Check</h4>
		<p class="text-danger">@ViewBag.ForgotPasswordError</p>
		<div class="mb-3">
			@if (ViewBag.Question != null)
			{
				<h4 class="form-label">@ViewBag.Question</h4>
			}
			else
			{
				<p class="form-text">No security question found.</p>
			}
		</div>

		<div class="mb-3">
			<label for="answer" class="form-label">Answer:</label>
			<input type="text" id="answer" name="answer" class="form-control" required />
		</div>

		<div class="d-flex justify-content-between mt-4">
			<button type="submit" class="btn btn-primary w-100 me-2">Submit</button>
			<a asp-controller="Account" asp-action="Login" class="btn btn-secondary w-100">Cancel</a>
		</div>
	</form>
</div>


