@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
	<form asp-controller="Account" asp-action="ForgotPassword" method="POST" class="card p-4 shadow">
		<h4 class="card-title">Forgot Password</h4>
		<p class="text-danger">@ViewBag.ForgotPasswordError</p>
		<div class="mb-3">
			<label for="username" class="form-label">Enter Username:</label>
			<input type="text" id="username" name="username" class="form-control" required />
		</div>

		<div class="d-flex justify-content-between mt-4">
			<button type="submit" class="btn btn-primary w-100 me-2">Check Username</button>
			<a asp-controller="Account" asp-action="Login" class="btn btn-secondary w-100">Cancel</a>
		</div>
	</form>

</div>

